@media (max-width: 830px) {
    .agendar-asesoria {
        font-size: 20px;
    }

    .agendar {
        font-size: 18px;
    }

    .titulo-principal {
        font-size: 35px;
    }

    .slogan {
        font-size: 25px;
    }

    .pitch {
        font-size: 23px;
    }

    .subtitulo {
        font-size: 25px;
    }

    .apartado {
        font-size: 23px;
    }

    .subapartado {
        font-size: 20px;
    }

    .subapartado-contacto {
        font-size: 19px;
    }

    .texto {
        font-size: 17px;
    }

    .texto-contacto {
        font-size: 16px;
    }

    .listado {
        font-size: 17px;
    }
}