@media (max-width: 830px) {

    div {
        div {
            .titulo-principal {
                font-size: 35px;
            }

            .slogan {
                font-size: 25px;
            }

            .pitch {
                font-size: 23px;
            }
        }

        .agendar-asesoria {
            font-size: 20px;
        }
    }


    div {
        div {
            div {
                .subtitulo-organizzate {
                    font-size: 25px;
                }

                .texto-organizzate {
                    font-size: 18px;
                }
            }
        }
    }

    div {
        .listado-organizzate {
            font-size: 17px;
        }
    }


    div {
        .subtitulo-servicios {
            font-size: 25px;
        }

        .subapartado-servicios {
            font-size: 20px;
        }
    }

    div {
        .border-card {
            div {
                .apartado-servicios {
                    font-size: 23px;
                }

                .texto-servicios {
                    font-size: 18px;
                }

                .agendar-servicios {
                    font-size: 18px;
                }
            }
        }
    }

    div {
        .subtitulo-inspirate {
            font-size: 25px;
        }

        .subapartado-inspirate {
            font-size: 20px;
        }
    }

    div {
        .border-card {
            div {
                .apartado-inspirate {
                    font-size: 22px;
                }

                .texto-inspirate {
                    font-size: 18px;
                }

                .ver-inspirate {
                    font-size: 18px;
                }
            }
        }
    }


    div {
        div {
            .subtitulo-contacto {
                font-size: 25px;
            }

            .apartado-contacto {
                font-size: 22px;
            }
        }
    }

    div {
        .border-card {
            div {
                .subapartado-contacto {
                    font-size: 19px;
                }

                .texto-contacto {
                    font-size: 16px;
                }
            }
        }
    }
}

div {
    .formulario {
        font-size: 16px;

        div {
            .enviar {
                font-size: 16px;
            }
        }
    }
}