.contenido {
    margin: map-get($espacio-contenido, margen-uno);
    padding: map-get($espacio-contenido, padding-uno);
}

div {
    .subtitulo-servicios {
        @include subtitulo;
        margin-top: 20px;
        margin-left: 15px;
        padding: $padding-diez;
    }

    .subapartado-servicios {
        @include subapartado;
        margin: 15px;
        padding: $padding-diez;
    }
}

div {
    .border-card {
        border-color: $borde-gris;

        div {
            .apartado-servicios {
                @include apartado;
                margin-top: 15px;
                margin-left: 15px;
                padding: $padding-diez;
            }

            .texto-servicios {
                @include texto;
                margin-top: 10px;
                margin-left: 15px;
                padding: $padding-diez;
            }

            .agendar-servicios {
                @include boton-agendar-ver;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
}