.contenido {
    margin: map-get($espacio-contenido, margen-uno);
    padding: map-get($espacio-contenido, padding-uno);
}

div {
    div {
        .subtitulo-contacto {
            @include subtitulo;
            margin: 20px;
            padding: $padding-diez;
        }

        .apartado-contacto {
            @include apartado;
            margin-top: 15px;
            margin-left: 15px;
            padding: $padding-diez;
        }

    }
}

div {
    .formulario {
        font-family: $tipografia;
        margin-left: 15px;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 400;
        padding: $padding-diez;

        div {
            label {
                @extend .formulario;
                margin-left: 5px;
                font-weight: 450;
                font-size: 17px;
            }
        }

        div {
            .enviar {
                font-family: $tipografia;
                font-weight: 600;
                font-size: 18px;
                margin-left: 25px;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 15px;
            }
        }
    }
}

div {
    .subapartado-contacto {
        @include subapartado;
        font-size: 22px;
        margin: 10px;
        padding: $padding-diez;
    }

    .texto-contacto {
        @extend .subapartado-contacto;
        font-size: 18px;
        font-weight: 400;

        .icono-contacto {
            max-height: 5rem;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
}