.contenido {
    margin: map-get($espacio-contenido, margen-uno);
    padding: map-get($espacio-contenido, padding-uno);
}

div {
    div {
        div {
            .subtitulo-organizzate {
                @include subtitulo;
                margin-top: 20px;
                margin-left: 15px;
                padding: $padding-diez;
            }

            .texto-organizzate {
                @include texto;
                font-size: 22px;
                margin: 20px;
                padding: $padding-diez;
            }
        }
    }
}


div {
    .listado-organizzate {
        font-family: $tipografia;
        font-weight: 500;
        font-size: 22px;
        text-align: left;
        margin-top: 35px;
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}