.contenido {
    margin: map-get($espacio-contenido, margen-uno);
    padding: map-get($espacio-contenido, padding-uno);
}

div {
    .subtitulo {
        font-family: $tipografia;
        font-weight: 600;
        font-size: 30px;
        margin-top: 20px;
        margin-left: 15px;
        padding: $padding-diez;
    }
    .texto {
        @extend .subtitulo;
        font-weight: 400;
        font-size: 20px;
        margin-top: 10px;
        padding: $padding-diez;
    }
}

div {
    .listado {
        font-family: $tipografia;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        margin-top: 25px;
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
        
        .listado-item {
            margin-bottom: 2rem;
        }
    }
}